################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TAL-PremiumCalculatorAPI/bin/Debug/net8.0
/TAL-PremiumCalculatorAPI/obj
/.vs
/TAL-PremiumCalculatorUnitTest/bin/Debug/net8.0
/TAL-PremiumCalculatorUnitTest/obj
